name: Build Tweak
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          brew install ldid
          git clone --recursive https://github.com/theos/theos.git ~/theos
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV
          echo "$HOME/theos/bin" >> $GITHUB_PATH

      - name: Setup SDK
        run: |
          mkdir -p ~/theos/sdks
          git clone --depth 1 https://github.com/theos/sdks.git temp_repo
          mv temp_repo/iPhoneOS14.5.sdk ~/theos/sdks/
          rm -rf temp_repo

      - name: Build Tweak
        run: |
          make clean
          make package FINALPACKAGE=1

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: OneState-Final-Build
          path: packages/*.deb
