name: Auto NIC packager
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y fakeroot git perl curl

      - name: Setup Theos and SDK
        run: |
          # Clonăm Theos
          git clone --recursive https://github.com/theos/theos.git ~/theos
          
          # Folosim compilatorul deja existent în sistem (fără download-uri)
          mkdir -p ~/theos/toolchain/linux/iphone/bin
          ln -s $(which clang) ~/theos/toolchain/linux/iphone/bin/clang
          ln -s $(which clang++) ~/theos/toolchain/linux/iphone/bin/clang++
          
          # Clonăm SDK-ul
          git clone --depth 1 https://github.com/theos/sdks.git ~/theos/sdks
          
          echo "THEOS=~/theos" >> $GITHUB_ENV
          echo "~/theos/bin" >> $GITHUB_PATH

      - name: Build Package
        run: |
          export THEOS=~/theos
          # Găsește automat SDK-ul descărcat
          SDK_PATH=$(ls -d ~/theos/sdks/iPhoneOS*.sdk | head -n 1)
          cd template && make package FINALPACKAGE=1 SYSROOT=$SDK_PATH

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: OneStateMod-Build
          path: template/packages/*.deb
