name: Auto NIC packager
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # Folosim o imagine de Docker care are deja Theos, Toolchain și SDK-uri incluse
    container: ghcr.io/theos/theos:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Package
        run: |
          # În acest container, THEOS este deja setat corect
          cd template
          
          # Fix pentru erorile de module (dezactivăm modulele Apple)
          # Și ignorăm avertismentele care blochează build-ul
          make package FINALPACKAGE=1 \
            ADDITIONAL_CFLAGS="-fno-modules -Wno-error" \
            ADDITIONAL_OBJCCFLAGS="-fno-modules -Wno-error"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: OneStateMod-Build
          path: template/packages/*.deb
