name: Auto NIC packager
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Theos
        uses: theos/setup-theos@master

      - name: Setup SDK
        run: |
          # Descarcă SDK-urile oficiale în folderul corect
          git clone --depth 1 https://github.com/theos/sdks.git $THEOS/sdks

      - name: Build Package
        run: |
          # Detectăm automat SDK-ul de iPhone
          SDK_PATH=$(ls -d $THEOS/sdks/iPhoneOS*.sdk | head -n 1)
          echo "Using SDK: $SDK_PATH"
          cd template && make package FINALPACKAGE=1 SYSROOT=$SDK_PATH

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: OneStateMod-Build
          path: template/packages/*.deb
