name: Auto NIC packager

on:
  push:
    branches: [ master ]
    paths:
      - "template/*"

jobs:
  packager:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Theos
        uses: theos/setup-theos@v1
        with:
          theos-src: https://github.com/theos/theos.git
          theos-ref: master

      - name: Make NIC package
        run: |
          $THEOS/bin/nicify.pl ./template

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: OneStateMod-Build
          path: ./*.deb
