name: Auto NIC packager
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y fakeroot git perl curl

      - name: Setup Theos and SDK
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos
          mkdir -p ~/theos/toolchain/linux/iphone/bin
          ln -s $(which clang) ~/theos/toolchain/linux/iphone/bin/clang
          ln -s $(which clang++) ~/theos/toolchain/linux/iphone/bin/clang++
          rm -rf ~/theos/sdks
          git clone --depth 1 https://github.com/theos/sdks.git ~/theos/sdks
          echo "THEOS=~/theos" >> $GITHUB_ENV
          echo "~/theos/bin" >> $GITHUB_PATH

      - name: Build Package
        run: |
          export THEOS=~/theos
          SDK_PATH=$(ls -d ~/theos/sdks/iPhoneOS*.sdk | head -n 1)
          cd template
          
          # AUTO-FIX pentru erorile de module:
          # Schimbăm @import în #import în toate fișierele .h, .m, .mm, .xm
          find . -type f \( -name "*.h" -o -name "*.m" -o -name "*.mm" -o -name "*.xm" \) -exec sed -i 's/@import \([^;]*\);/#import <\1\/\1.h>/g' {} +
          
          rm -rf .theos
          make package FINALPACKAGE=1 SYSROOT=$SDK_PATH ADDITIONAL_CFLAGS="-fno-modules" ADDITIONAL_OBJCCFLAGS="-fno-modules"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: OneStateMod-Build
          path: template/packages/*.deb
