name: Auto NIC packager
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y fakeroot git perl clang curl tar

      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos
          # Descarcă Toolchain-ul corect pentru GitHub Actions (x86_64)
          curl -L https://github.com/theos/toolchain/releases/download/linux-x86_64/toolchain-linux-x86_64.tar.gz -o toolchain.tar.gz
          mkdir -p ~/theos/toolchain/linux/iphone
          tar -xf toolchain.tar.gz -C ~/theos/toolchain/linux/iphone --strip-components=1
          # Setup SDK
          rm -rf ~/theos/sdks
          git clone --depth 1 https://github.com/theos/sdks.git ~/theos/sdks
          echo "THEOS=~/theos" >> $GITHUB_ENV
          echo "~/theos/bin" >> $GITHUB_PATH

      - name: Build Package
        run: |
          export THEOS=~/theos
          # Identifică automat SDK-ul de iPhone
          SDK_PATH=$(ls -d ~/theos/sdks/iPhoneOS*.sdk | head -n 1)
          cd template && make package FINALPACKAGE=1 SYSROOT=$SDK_PATH

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: OneStateMod-Build
          path: template/packages/*.deb
