name: Auto NIC packager

on:
  push:
    branches: [ master ]
    paths:
      - "template/*"

jobs:
  packager:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y fakeroot git perl build-essential libssl-dev

      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos
          echo "THEOS=~/theos" >> $GITHUB_ENV
          echo "~/theos/bin" >> $GITHUB_PATH

      -       - name: Build Package
        run: |
          export THEOS=~/theos
          make package FINALPACKAGE=1


      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: OneStateMod-Build
          path: ./*.deb
